file/workflow_n8n.json
{
  "name": "inscricao_whatsapp",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "470f33b2-fac8-49a7-be3e-8553aed751e8",
      "name": "Capturar hub.challenge",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        400,
        -304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.query[\"hub.challenge\"]}}",
        "options": {}
      },
      "id": "b5600d2f-4d59-4bf2-b28d-8a268cfd9e5b",
      "name": "Responder à Meta",
      "type": "n8n-nodes-base.respondToWebhook", 
      "typeVersion": 1,
      "position": [
        576,
        -304
      ]
    },
    {
      "parameters": {
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        -304
      ],
      "id": "9945cb5c-41f6-4570-b043-ad1f9acd16dc",
      "name": "Webhook",
      "webhookId": "0597377d-ed58-454e-a150-737d53483751"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1520,
        -80
      ],
      "id": "e285ff7c-3c87-4376-81b8-2cd68cdfa08e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        -64
      ],
      "id": "ea6292e3-9459-42f9-8bfd-4b88b63d24fa",
      "name": "Webhook POST",
      "webhookId": "e58ac68c-04d4-437b-a4ae-a96ad0d8e8c4"
    },
    {
      "parameters": {
        "jsCode": "// Pega o primeiro item recebido do Webhook\nconst body = items?.[0]?.json?.body;\n\n// Acessa a estrutura exata do payload da Meta\nconst entry = body?.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value || {};\n\nconst message  = value?.messages?.[0] || null;\nconst contact  = value?.contacts?.[0] || null;\nconst metadata = value?.metadata || {};\n\n// Retorna as informações principais, ou null se não encontradas\nreturn [\n  {\n    json: {\n      from: message?.from ?? null,\n      text: message?.text?.body ?? null,\n      name: contact?.profile?.name ?? null,\n      phone_number_id: metadata?.phone_number_id ?? null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -80
      ],
      "id": "6d539065-32d7-413c-a33b-81b639ef5f82",
      "name": "Extrair mensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer OPEN-AI-KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um assistente do WhatsApp, simpático, direto e sempre responde em português.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{$json.text}}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        -80
      ],
      "id": "dd49645d-ea07-4859-9e36-0dd191342e9e",
      "name": "OPEN AI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extrair mensagem').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer META TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extrair mensagem').item.json.from }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text.body",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        -80
      ],
      "id": "b622f391-7d0e-4c41-af16-4c502d757886",
      "name": "Resposta Whatsapp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ed45578-966b-4a55-bf79-338829a5cb82",
              "leftValue": "={{$json.body.entry[0].changes[0].value.messages[0].type}}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -64
      ],
      "id": "88628604-bee1-4218-b53c-4bb41e61579b",
      "name": "É mensagem?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5ebd0b9-8f7a-4afb-a64a-4a08bb1fdfc9",
              "leftValue": "={{$json.body.entry[0].changes[0].value.messages[0].type}}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        160
      ],
      "id": "902188b1-8aa0-4529-ac84-1c63333c4d88",
      "name": "É audio?"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1152,
        144
      ],
      "id": "5e53a0e5-229b-43c0-9310-ad72acf7f15f",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "2UjRXeotuIa9Jk0m",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{$json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"messages\"][0][\"audio\"][\"id\"]}}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAATmSylRV1sBPuJaZCZAMZClJrcSW8N91KiIVLD47pXod9COocLShidOR7ZAzv80ZA5ZCnB9Wh7KtLUCoDupMSXwgU5KTPEPOokZB3X7b84hujsd2XkRYYCSO6uRckTlRi8NQjJMZBoZB2JiuWOvPmlX8FNUZCOup0AFxlzYZBE4wdCksZATHg5iqBps52vGPqPSCwZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        144
      ],
      "id": "0b2a8e2a-3b94-41aa-9362-3e73b626502e",
      "name": "Obter URL do audio"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAATmSylRV1sBPuJaZCZAMZClJrcSW8N91KiIVLD47pXod9COocLShidOR7ZAzv80ZA5ZCnB9Wh7KtLUCoDupMSXwgU5KTPEPOokZB3X7b84hujsd2XkRYYCSO6uRckTlRi8NQjJMZBoZB2JiuWOvPmlX8FNUZCOup0AFxlzYZBE4wdCksZATHg5iqBps52vGPqPSCwZDZD"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        144
      ],
      "id": "a329abbf-c8c5-42df-ac3d-80e6ab3e61e0",
      "name": "Baixar audio"
    }
  ],
  "pinData": {},
  "connections": {
    "Capturar hub.challenge": {
      "main": [
        [
          {
            "node": "Responder à Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Capturar hub.challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "É mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair mensagem": {
      "main": [
        [
          {
            "node": "OPEN AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPEN AI": {
      "main": [
        [
          {
            "node": "Resposta Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Resposta Whatsapp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É mensagem?": {
      "main": [
        [
          {
            "node": "Extrair mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É audio?": {
      "main": [
        [
          {
            "node": "Obter URL do audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter URL do audio": {
      "main": [
        [
          {
            "node": "Baixar audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Extrair mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4c372a45-ffa9-4775-87e5-b651ee3b7f96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87babfc55b70030dfacfea0fb2dc334041b04a99fd341218d35fc556f5697e09"
  },
  "id": "WaxauQ71dbNe48jF",
  "tags": []
}